* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Vesper Libre', serif;
}
.header {
    background: url('/img/header_bg.png') no-repeat center;
    background-size: cover;
}
body {
    background: url('/img/body_bg.png') no-repeat center;
    background-size: cover;
    height: 100%;
}
.banner{
    color: #00704A;
    font-weight: bolder;
}
.search-type, .add-title, .add-title-roast, .new-coffee, .coffee-list-title, .remove {
    color: #00704A;
}
#coffees {
    display: flex;
    flex-wrap: wrap;
    margin-left: 17%;
}
.coffee {
    width: 50%;
    display: flex;
    justify-content: left;
}
.coffee-roast {
    padding-top: 10px;
    margin-left: auto;
    margin-right: 20px;
}
/*Buttons and search bars*/
.myButton {
    color: white;
    border-radius: 5px;
    border:none;
    background-color: #00704A;
    transition-duration: 0.4s;
    opacity: 0.6;
}
.myButton:hover {
    opacity: 1;
}
.selector {
    border: 1px solid #00704A;
    border-radius: 5px;
}
.selector:hover {
    box-shadow: 1px 1px 10px 1px #00704A;
}
.selector:focus {
    outline-color: #00704A;
    box-shadow: 1px 1px 10px 1px #00704A;
}